@tailwind base;
@tailwind components;
@tailwind utilities;


.fancy-border-radius1 {
    border-radius: 43% 57% 51% 49% / 74% 51% 49% 26%;
  }

.fancy-border-radius2 {
border-radius: 43% 57% 48% 52% / 57% 14% 86% 43% ;
}

.frontbackground {
  background-image: url(./Assets/frontpage2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
